@import url(//db.onlinewebfonts.com/c/24a69b0d49de39034663d837a985f04b?family=BenguiatITCW01-BoldCn);

body{
    background-color: black;
}

h1{
    color: #fff;
    font-family: "BenguiatITCW01-BoldCn";
}

p{
    color: #fff;
}


// MainPreview
.main-preview-container{
    max-width: 90vw;
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.main-preview-img{
    width: 90vw;
    height: 75vh;
}





.play-btn{

}

.info-btn{
    
}
// MainPreview
