body{
    background-color: black;
}

h1{
    color: #fff;
}

.main-preview-container{
    max-width: 90vw;
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.main-preview-img{
    width: 90vw;
    height: 75vh;
}